#gifButton {
    margin: 5px;
}

.gif-Div {
    margin: 15px 15px;
    float: left;
    overflow: hidden;
    width: auto;
}

body {
    background-color: #000;
}

#gifButton,
.search-button,
.form-control {
    color: #fff;
    background-color: #000;
}

.ratingText {
    color: #fff;
}